include mixins.pug
.row
	.col-md-6
		h1 Alerts
		+alert('primary')
		+alert('secondary')
		+alert('success')
		+alert('danger')
		+alert('warning')
		+alert('info')
		+alert('light')
		+alert('dark')
	.col-md-6
		h1 Link color
		+alertColor('primary')
		+alertColor('secondary')
		+alertColor('success')
		+alertColor('danger')
		+alertColor('warning')
		+alertColor('info')
		+alertColor('light')
		+alertColor('dark')
hr
h1 Aditional content
.row.d-flex.justify-content-center
	.col-md-6
		+alertContent('success')
hr
h1 Dismissing
.row.d-flex.justify-content-center
	.col-md-10
		+alertDismissing('warning')

